* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#box {
  background-color: paleturquoise;
  color: azure;

  height: 100px;
  width: 100px;
}

#border {
  background-color: yellow;
  width: 100px;
  height: 100px;

  border-color: palevioletred;
  border-width: 4px;
  border-style: double;

  /* property shorthand: width style color */
  border: 4px double palegreen;

  /* border on 1 side */
  border-right: 4px dotted pink;

  /* border-radius: 10px; */

  /* to create a circle */
  border-radius: 50%;
}

#margin {
  background-color: paleturquoise;
  width: 100px;
  height: 100px;
  border: 1px solid black;

  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

  /* property shorthand: top right bottom left */
  margin: 10px;

  /* top/bottom left/right */
  margin: 10px 20px;
}

#padding {
  background-color: palevioletred;
  width: 100px;
  height: 100px;
  border: 5px solid black;

  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  /* property shorthand: top right bottom left */
  padding: 10px;

  /* top/bottom left/right */
  padding: 10px 20px;
}

#text {
  color: blueviolet;
  text-align: center;

  /* text-decoration:  line-through | overline | underline; */
  text-decoration: overline;

  /* uppercase |lowercase */
  text-transform: capitalize;
  
  line-height: 1.5;
  word-spacing: 5px;
  letter-spacing: 2px;

  font-size: 20px;
  font-weight: bold;
  font-style: italic;

  font-family: Arial, Helvetica, sans-serif;
}
