* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container-flex,
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-flex > div {
  width: 23%;
  border: 1px solid black;
  padding: 10px;
}

.flex-container > div {
  width: 32%;
  border: 1px solid black;
  padding: 10px;
}

@media screen and (max-width: 850px) {
  .container > div {
    width: 48%;
  }
}

@media screen and (max-width: 650px) {
  .flex-container > div {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .container > div {
    width: 100%;
  }
}
